* {
  font-family: "Oswald", sans-serif;
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html, body {
  height: 100%;
  width: 100%;
  background: white;
}
@media only screen and (max-width: 480px) {
  html, body {
    height: 100%;
    width: 100%;
  }
}

#main1 {
  height: 100%;
  min-width: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  background-image: url("../img/main1.png");
  background-position: top;
  position: relative;
}
#main1 .galaxy {
  position: absolute;
  background-image: url("../img/Layer 627.png");
  opacity: 0.29;
  top: 0;
  left: 0;
  height: 100%;
  min-width: 100%;
  background-repeat: no-repeat;
  background-size: cover;
}
#main1 header {
  position: relative;
  padding-top: 8px;
}
#main1 header nav {
  width: 60%;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
@media only screen and (max-width: 480px) {
  #main1 header nav {
    width: 100%;
    padding: 0 40px;
  }
}
#main1 header nav ul {
  width: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  list-style-type: none;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
#main1 header nav ul li {
  cursor: pointer;
  margin-right: 50px;
}
@media only screen and (max-width: 480px) {
  #main1 header nav ul li {
    margin-right: 20px;
  }
}
#main1 header nav ul li a {
  color: white;
  text-decoration: underline;
  font-size: 12px;
  font-Family: "Lato";
  font-style: italic;
  text-transform: uppercase;
}
#main1 #losangeles {
  position: absolute;
  margin-right: 40px;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  height: 220px;
  width: 510px;
  top: 41.5%;
  left: 44%;
}
@media only screen and (max-width: 480px) {
  #main1 #losangeles {
    height: 100px;
    width: 210px;
    top: 24%;
  }
}
@media only screen and (min-width: 481px) and (max-width: 768px) {
  #main1 #losangeles {
    height: 200px;
    width: 350px;
    top: 22%;
    left: 45%;
  }
}

#history {
  height: 100%;
  min-width: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  background-image: url("../img/main2.png");
  background-position: top;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
#history header {
  padding: 16px 0;
  position: sticky;
  top: 0;
  z-index: 99;
  background-color: white;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
#history header nav {
  width: 60%;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: auto;
}
@media only screen and (max-width: 480px) {
  #history header nav {
    width: 100%;
    padding: 0 40px;
  }
}
@media only screen and (max-width: 480px) {
  #history header nav .logo {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-right: 10px;
  }
}
#history header nav .logo img#one {
  margin-right: 10px;
}
@media only screen and (max-width: 480px) {
  #history header nav .logo img#one {
    margin-right: 5px;
  }
}
@media only screen and (max-width: 480px) {
  #history header nav .logo img#two {
    width: 50px;
    height: 20px;
  }
}
#history header nav ul {
  width: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style-type: none;
}
#history header nav ul li {
  cursor: pointer;
  margin-right: 50px;
}
@media only screen and (max-width: 480px) {
  #history header nav ul li {
    margin-right: 10px;
    font-size: 3px;
  }
}
#history header nav ul li a {
  color: #414f6b;
  text-decoration: underline;
  font-size: 12px;
  font-Family: "Lato";
  font-style: italic;
  text-transform: uppercase;
}
#history .content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: 88%;
}
#history .content #lorem h1 {
  position: absolute;
  color: rgba(65, 79, 107, 0.502);
  font-family: "Oswald";
  color: rgba(65, 79, 107, 0.502);
  font-weight: bold;
  font-size: 150px;
  line-height: 1.2;
  text-align: left;
  left: 300px;
  top: 100px;
}
@media only screen and (max-width: 480px) {
  #history .content #lorem h1 {
    left: 50px;
    font-size: 100px;
    top: 150px;
  }
}
@media only screen and (min-width: 481px) and (max-width: 768px) {
  #history .content #lorem h1 {
    left: 100px;
    font-size: 120px;
    top: 150px;
  }
}
#history .content #lorem h3 {
  font-size: 40px;
  font-family: "Oswald";
  color: #414f6b;
  font-weight: bold;
  line-height: 1.2;
  text-align: left;
  text-transform: uppercase;
  position: absolute;
  left: 445px;
  top: 180px;
}
@media only screen and (max-width: 480px) {
  #history .content #lorem h3 {
    left: 150px;
    font-size: 30px;
    top: 200px;
  }
}
@media only screen and (min-width: 481px) and (max-width: 768px) {
  #history .content #lorem h3 {
    left: 218px;
    font-size: 30px;
    top: 220px;
  }
}
#history .content #lorem p {
  font-size: 16px;
  font-family: "Lato";
  color: black;
  line-height: 1.5;
  text-align: left;
  position: absolute;
  left: 380px;
  top: 260px;
  width: 61%;
}
@media only screen and (max-width: 480px) {
  #history .content #lorem p {
    left: 10px;
    font-size: 16px;
    margin-left: 15px;
    top: 300px;
    width: 90%;
  }
}
@media only screen and (min-width: 481px) and (max-width: 768px) {
  #history .content #lorem p {
    left: 10px;
    font-size: 20px;
    margin-left: 15px;
    top: 300px;
    width: 90%;
  }
}
#history section:nth-child(2) {
  position: relative;
  height: 100px;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
@media only screen and (min-width: 481px) and (max-width: 768px) {
  #history section:nth-child(2) {
    height: 150px;
  }
}
#history section:nth-child(2) .overlay {
  position: absolute;
  background-color: rgba(65, 79, 107, 0.502);
  height: 100%;
  width: 100%;
}
#history section:nth-child(2) .carousel {
  display: none;
  height: auto;
  width: auto;
  position: relative;
  width: auto;
  padding-top: 20px;
}
#history section:nth-child(2) .carousel img {
  margin-right: 5px;
}
@media only screen and (max-width: 480px) {
  #history section:nth-child(2) .carousel img {
    height: 50px;
  }
}
@media only screen and (min-width: 481px) and (max-width: 768px) {
  #history section:nth-child(2) .carousel img {
    height: 100px;
  }
}
#history section:nth-child(2) .dot-container {
  padding-bottom: 18px;
}
#history section:nth-child(2) .dot-container .dot {
  position: relative;
  cursor: pointer;
  height: 6px;
  width: 6px;
  margin: 0 2px;
  background-color: white;
  opacity: 0.2;
  border-radius: 50%;
  display: inline-block;
  -webkit-transition: background-color 0.6s ease;
  transition: background-color 0.6s ease;
}
#history section:nth-child(2) .dot-container .active {
  opacity: 1;
}

.climb {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 75%;
  padding: 0 40px;
  margin: 0 auto;
}
@media only screen and (max-width: 480px) {
  .climb {
    height: 300px;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
}
.climb h1 {
  color: rgba(65, 79, 107, 0.502);
  font-family: "Oswald";
  color: rgba(65, 79, 107, 0.502);
  font-weight: bold;
  font-size: 150px;
  line-height: 1.2;
  text-align: left;
}
@media only screen and (max-width: 480px) {
  .climb h1 {
    font-size: 100px;
  }
}
.climb h3 {
  font-size: 40px;
  font-family: "Oswald";
  color: #414f6b;
  font-weight: bold;
  position: absolute;
  left: 205px;
  top: 85px;
  line-height: 1.2;
  text-align: left;
  text-transform: uppercase;
}
@media only screen and (max-width: 480px) {
  .climb h3 {
    left: 150px;
    font-size: 30px;
    top: 50px;
  }
}
.climb p {
  font-size: 16px;
  font-family: "Lato";
  color: black;
  line-height: 1.5;
  text-align: left;
  margin-left: 100px;
}
@media only screen and (max-width: 480px) {
  .climb p {
    left: 0px;
    margin: 0 auto;
    font-size: 16px;
    top: 150px;
    position: absolute;
  }
}

#main3 {
  height: 100%;
  min-width: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  height: 70% !important;
}
@media only screen and (max-width: 480px) {
  #main3 .pc {
    display: none;
  }
}
#main3 .mobile {
  display: none;
}
@media only screen and (max-width: 480px) {
  #main3 .mobile {
    display: block;
  }
}
#main3 header {
  background-color: #414f6b;
}
#main3 header .tabs {
  color: #b0b4be;
  position: relative;
  width: 60%;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  margin: 0 auto;
}
#main3 header .tabs ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  list-style-type: none;
}
#main3 header .tabs ul li {
  padding: 5px 15px;
  text-decoration: underline;
  text-transform: uppercase;
  font-weight: bold;
  font-family: "Oswald";
}
@media only screen and (max-width: 480px) {
  #main3 header .tabs ul li {
    font-size: 14px;
  }
}
#main3 header .tabs ul li:hover {
  cursor: pointer;
  background-color: #b0b4be;
  color: #414f6b;
}
#main3 header .tabs ul li:active {
  background-color: #b0b4be;
  color: #414f6b;
}
#main3 #tabcontent1, #main3 #tabcontent1mobile {
  height: 100%;
  min-width: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: bottom;
  background-image: url("../img/tab1 bg.png");
  padding-top: 101px;
  padding-left: 300px;
}
@media only screen and (max-width: 480px) {
  #main3 #tabcontent1, #main3 #tabcontent1mobile {
    display: none;
    padding-left: 0;
  }
}
#main3 #tabcontent1 .content, #main3 #tabcontent1mobile .content {
  background-color: white;
  opacity: 0.702;
  width: 352px;
  height: 229px;
  padding: 21px 41px 57px 41px;
}
#main3 #tabcontent1 .content h1, #main3 #tabcontent1mobile .content h1 {
  color: #414f6b;
  text-transform: uppercase;
  font-family: "Oswald";
  line-height: 1.2;
  font-weight: bold;
  text-align: left;
}
#main3 #tabcontent1 .content .schedules, #main3 #tabcontent1mobile .content .schedules {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: 100%;
  margin-top: 10px;
}
#main3 #tabcontent1 .content .schedules h1, #main3 #tabcontent1mobile .content .schedules h1 {
  position: sticky;
  z-index: 999;
}
#main3 #tabcontent1 .content .schedules ul, #main3 #tabcontent1mobile .content .schedules ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  list-style-type: none;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
#main3 #tabcontent1 .content .schedules ul:nth-child(2), #main3 #tabcontent1mobile .content .schedules ul:nth-child(2) {
  margin-top: -30px;
}
#main3 #tabcontent1 .content .schedules ul li, #main3 #tabcontent1mobile .content .schedules ul li {
  font-family: "Lato";
  font-size: 16px;
  color: black;
  text-align: left;
}
#main3 #tabcontent2, #main3 #tabcontent2mobile {
  display: none;
  height: 100%;
  min-width: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: bottom;
  background-image: url("../img/tab2 bg.png");
  padding-top: 101px;
  padding-left: 300px;
}
@media only screen and (max-width: 480px) {
  #main3 #tabcontent2, #main3 #tabcontent2mobile {
    padding-left: 0;
  }
}
#main3 #tabcontent2 .content, #main3 #tabcontent2mobile .content {
  background-color: white;
  opacity: 0.702;
  width: 352px;
  height: 229px;
  padding: 21px 41px 57px 41px;
}
#main3 #tabcontent2 .content h1, #main3 #tabcontent2mobile .content h1 {
  color: #414f6b;
  text-transform: uppercase;
  font-family: "Oswald";
  line-height: 1.2;
  font-weight: bold;
  text-align: left;
}
#main3 #tabcontent2 .content .schedules, #main3 #tabcontent2mobile .content .schedules {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: 100%;
  margin-top: 10px;
}
#main3 #tabcontent2 .content .schedules h1, #main3 #tabcontent2mobile .content .schedules h1 {
  position: sticky;
  z-index: 999;
}
#main3 #tabcontent2 .content .schedules ul, #main3 #tabcontent2mobile .content .schedules ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  list-style-type: none;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
#main3 #tabcontent2 .content .schedules ul:nth-child(3), #main3 #tabcontent2mobile .content .schedules ul:nth-child(3) {
  margin-top: -30px;
}
#main3 #tabcontent2 .content .schedules ul li, #main3 #tabcontent2mobile .content .schedules ul li {
  font-family: "Lato";
  font-size: 16px;
  color: black;
  text-align: left;
}
#main3 .active {
  background-color: #b0b4be;
  color: #414f6b;
}
#main3 footer {
  background-color: #414f6b;
  height: 74px;
  padding: 16px 0 15px 0;
}
#main3 footer .copyright {
  width: 70%;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
@media only screen and (max-width: 480px) {
  #main3 footer .copyright .logo {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-right: 20px;
  }
}
@media only screen and (max-width: 480px) {
  #main3 footer .copyright .logo img:nth-child(2) {
    width: 60px;
    height: 20px;
  }
}
#main3 footer .copyright .logo img:nth-child(1) {
  margin-right: 10px;
}
@media only screen and (max-width: 480px) {
  #main3 footer .copyright .logo img:nth-child(1) {
    margin-right: 5px;
  }
}
#main3 footer .copyright .copyright-text {
  font-size: 12px;
  font-family: "Lato";
  color: #63769d;
  font-style: italic;
  text-transform: uppercase;
  line-height: 1.667;
}

.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {
    opacity: 0.4;
  }
  to {
    opacity: 1;
  }
}

@keyframes fade {
  from {
    opacity: 0.4;
  }
  to {
    opacity: 1;
  }
}